- var title = "Booking Result";

doctype html
html
	head
		include ../head.jade
	body
		div(class='ui container')
			include ../header.jade
			include ../menu.jade
			h2(class="ui header")= title
			div(class="ui vertical segment")
				if (query.success != undefined)
					p You've successfully booked on:
					ul
						each booking in bookings
							li= booking.username
				else if (query.cancel != undefined)
					p You cancelled your bookings, click here to go back to the events page
		include ../footer.jade