- var title = event.name

doctype html
html
	head
		include ../head.jade
	body
		div(class='ui container')
			include ../header.jade
			include ../menu.jade
			h2(class="ui header")
				= title
				div(class="sub header")= event.timestamp.toDateString()
			div(class="ui vertical segment")!= event.description
		include ../footer.jade