- var title = "Enter details";

doctype html
html
	head
		include ../head.pug
	body
		div(class='ui container')
			include ../header.pug
			include ../menu.pug
			h2(class="ui header")= title
			p= "You must book on a minimum of "+ticket.min_booking+" people."
			if (ticket.allow_guests)
				p To book a JCR member on please enter their CIS username. To book a guest on please enter their fullname.
			div(class="ui vertical segment")
				form(class="ui form" method="POST" action="/events/"+event_id+"/"+ticket.id+"/book")
					- for(i=0; i<ticket.max_booking; i++)
						div(class=(i<ticket.min_booking)?"required field":"field")
							if (ticket.guests)
								label= "Username or Guest's Name "+(i+1)
							else
								label= "Username "+(i+1)
							input(type="text" name="bookings[]")
					button(class="ui submit button" type="submit") Book

		include ../footer.pug
