- var title = 'Home'

doctype html
html
	head
		include ./head.jade
	body
		div(class='ui container')
			include ./header.jade
			include ./menu.jade
			h2 Blog
			div(class="ui vertical segment")
				h3 Write a New Blog Post
				form(class="ui form" method="POST" action="/admin/blog/new")
					div(class="field")
						label Title
						input(type="text" name="title")
					div(class="field")
						label Message
						textarea(rows="5" name="message" id="editor1")
					div(class="field")
						label Post As
						select(name="role")
							each role in user.roles
								option(value=role.id)= role.title
					button(type="submit" class="ui submit button")
						i(class="write icon")
						| Create

			div(class="ui vertical segment")
				h3 Previous Blog Posts

				table(class="ui fixed table")
					thead
						tr
							th Title
							th Role
							th Date
							th Actions
					tbody
						each blog in blogs
							tr
								td= blog.title
								td= blog.role.title
								td= blog.updated
								td
									a(class="ui edit button" href="/admin/blog/"+blog.id+"/edit")
										i(class="edit icon")
										| Edit
									a(class="ui negative button" href="/admin/blog/"+blog.id+"/delete" onclick="return confirm('Are you sure you want to delete this post?');")
										i(class="remove icon")
										| Delete

		script.
			CKEDITOR.replace( 'editor1' );
