- var title = 'Elections'

doctype html
html
	head
		include ./head.jade
	body
		div(class='ui container')
			include ./header.jade
			include ./menu.jade
			h2= title
			div(class="ui vertical segment")
				h3 Create a new election
				form(class="ui form" method="POST" action="")
					div(class="field")
						label Name
						input(type="text" name="title")
					button(type="submit" class="ui submit button")
						i(class="write icon")
						| Create
					div(class="ui error message")

				script.
					$('.form').form({
						fields: {
							name: 'empty',
						}
					});

			div(class="ui vertical segment")
				h3 Previous Elections

				table(class="ui striped table")
					thead
						tr
							th Name
							th Status
							th Actions
					tbody
						each election in elections
							tr
								td= election.title
								if (election.status == 2)
									td Open
								else if (election.status == 1)
									td Publicizing
								else
									td Closed
								td
									div(class=(election.status==0)?"ui floating icon dropdown button":"ui floating icon disabled dropdown button" )
										i(class="file text outline icon")
										span(class="text") Results
										div(class="menu")
											each position in election.positions
												a(class="item" href="/admin/elections/"+election.id+"/"+position.id+"/results")= position.name
									a(class="ui button" href="/admin/elections/"+election.id)
										i(class="edit icon")
										| Edit
									a(class="ui negative button" href="/admin/elections/"+election.id+"/delete")
										i(class="remove icon")
										| Delete

						script.
							$('.dropdown').dropdown();
