- var title = 'Election Results'

doctype html
html
	head
		include ./head.jade
	body
		div(class='ui container')
			include ./header.jade
			- var current="elections";
			include ./menu.jade
			h2= title
			div!= result
