title= 'Grey JCR - ' + title
link(rel='stylesheet', href='/semantic.min.css')
script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js')
script(src='/semantic.min.js')
script(src="//cdn.ckeditor.com/4.5.7/standard/ckeditor.js")