div(class="ui padded grid")
	div(class="ten wide column")
		h1 Grey JCR Admin
	div(class="six wide column")
		a(href="/" class="ui right floated labeled icon button")
			i(class="arrow circle left icon")
			| Back