- var title = 'Home'

doctype html
html
	head
		include ./head.jade
	body
		div(class='ui container')
			include ./header.jade
			include ./menu.jade
			h2 Welcome to the Administration Panel
			p This section allows all executive officers to edit certain sections of the JCR site.
			p Please do not abuse this power, or it will be taken away and limited to specific people.