div(class='ui stackable small inverted menu')
	a(class='item' href='/admin/events')
		i(class="calendar icon")
		| Events
	a(class='item' href='/admin/blog')
		i(class="newspaper icon")
		| Blog
	if (user.level > 2)
		if (!user.roles[0].description)
			a(class='item' href='/admin/roles' data-content="Your role doesn't have a description. Why not add one?" data-position="bottom center")
				i(class="sitemap icon")
				| Roles
		else
			a(class='item' href='/admin/roles')
				i(class="sitemap icon")
				| Roles
	if (user.level > 3)
		a(class='item' href='/admin/tickets')
			i(class="ticket icon")
			| Tickets
		a(class='item' href='/admin/societies')
			i(class="users icon")
			| Societies
		a(class='item' href='/admin/files')
			i(class="folder open icon")
			| Files
		a(class='item' href='/admin/rooms')
			i(class="book icon")
			| Room Booking
		if (!user.roles[0].description)
			a(class='item' href='/admin/roles' data-content="Your role doesn't have a description. Why not add one?" data-position="bottom center")
				i(class="sitemap icon")
				| Roles
		else
			a(class='item' href='/admin/roles')
				i(class="sitemap icon")
				| Roles
	if (user.level > 4)
		a(class='item' href='/admin/debts')
			i(class="pound icon")
			| Debts
		a(class='item' href='/admin/elections')
			i(class="checkmark box icon")
			| Elections
		a(class='item' href='/admin/feedback')
			i(class="comment icon")
			| Feedback

	script.
		$('.small.inverted.menu a.item').popup();
