div(class='ui stackable inverted menu')
	a(class='item' href='/admin') Home
	a(class='item' href='/admin/feedback') Feedback
	a(class='item' href='/admin/positions') Positions
	a(class='item' href='/admin/events') Events
	a(class='item' href='/admin/elections') Elections
	a(class='item' href='/admin/blog') Blog
	a(class='item' href='/admin/files') Files