- var title = 'Home'

doctype html
html
	head
		include ./head.jade
	body
		div(class='ui container')
			include ./header.jade
			include ./menu.jade
			div(class="ui vertical segment")
				h2 Edit Position
				form(class="ui edit form" method="POST" action="/admin/positions/"+position.id+"/edit")
					h3= position.title
					div(class="field")
						label Description
						textarea(rows="3" name="description")=position.description
					button(type="submit" class="ui submit button")
						i(class="save icon")
						| Save
