- var title = 'Home'

doctype html
html
	head
		include ./head.pug
	body
		div(class='ui container')
			include ./header.pug
			include ./menu.pug
			h2 Roles
			h3 Create a new role
			form(class="ui form" method="POST" action="/admin/roles/new")
				div(class="field")
					label Title
					input(type="text" name="title")
				div(class="field")
					label Level
					select(name="level")
						option(value="5") Exec + Admin
						option(value="4") Exec
						option(value="3") Officer
						option(value="2") Welfare
						option(value="1") Representative
				button(type="submit" class="ui submit button")
					i(Class="write icon")
					| Create
			div(class="ui divider")
			div(class="ui top attached tabular menu")
				a(class="item active" data-tab="exec") Exec
				a(class="item" data-tab="officers") Officers
				a(class="item" data-tab="welfare") Welfare
				a(class="item" data-tab="reps") Representatives

			div(class="ui bottom attached tab segment active" data-tab="exec")
				div(class="ui three stackable cards")
					- for(i=0; i<exec.length; i++)
						if(user.level>3)
							div(class="card")
								div(class="content")
									a(class="right floated ui red icon mini button" href="/admin/roles/"+exec[i].id+"/delete" onclick="return confirm('Are you sure you want to delete this role?');")
										i(class="remove icon")
									div(class="header")= exec[i].title

								div(class="extra content")
									div(class="ui labels")
										- for (j = 0; j<exec[i].users.length; j++)

											div(class="ui image label")
												img(src="/api/users/"+exec[i].users[j].username+"/avatar")
												= exec[i].users[j].name
												a(href="/admin/roles/"+exec[i].id+"/removeUser/"+exec[i].users[j].username class="delete icon" onclick="return confirm('Are you sure you want to remove this user?');"): i(class="fitted delete icon")

								div(class="extra content")
									form(class="ui form" method="POST" action="/admin/roles/"+exec[i].id+"/addUser")
										div(class="ui search field")
											div(class="ui action input")
												input(type="text" name="username" class="prompt" placeholder="Add a new user...")
												button(type="submit" class="ui button") Add
											div(class="results")

								a(class="ui bottom attatched edit button" href="/admin/roles/"+exec[i].id+"/edit")
									i(class="edit icon")
									| Edit
						else
							div(class="card")
								div(class="content")
									h4 Officers are restricted from editing exec roles

			div(class="ui bottom attached tab segment" data-tab="officers")
				div(class="ui three stackable cards")
					- for(i=0; i<officers.length; i++)

						div(class="card")
							div(class="content")
								a(class="right floated ui red icon mini button" href="/admin/roles/"+officers[i].id+"/delete" onclick="return confirm('Are you sure you want to delete this role?');")
									i(class="remove icon")
								div(class="header")= officers[i].title

							div(class="extra content")
								div(class="ui labels")
									- for (j = 0; j<officers[i].users.length; j++)

										div(class="ui image label")
											img(src="/api/users/"+officers[i].users[j].username+"/avatar")
											= officers[i].users[j].name
											a(href="/admin/roles/"+officers[i].id+"/removeUser/"+officers[i].users[j].username class="delete icon" onclick="return confirm('Are you sure you want to remove this user?');"): i(class="fitted delete icon")

							div(class="extra content")
								form(class="ui form" method="POST" action="/admin/roles/"+officers[i].id+"/addUser")
									div(class="ui search field")
										div(class="ui action input")
											input(type="text" name="username" class="prompt" placeholder="Add a new user...")
											button(type="submit" class="ui button") Add
										div(class="results")

							a(class="ui bottom attatched edit button" href="/admin/roles/"+officers[i].id+"/edit")
								i(class="edit icon")
								| Edit

			div(class="ui bottom attached tab segment" data-tab="welfare")
				div(class="ui three stackable cards")
					- for(i=0; i<welfare.length; i++)

						div(class="card")
							div(class="content")
								a(class="right floated ui red icon mini button" href="/admin/roles/"+welfare[i].id+"/delete" onclick="return confirm('Are you sure you want to delete this role?');")
									i(class="remove icon")
								div(class="header")= welfare[i].title

							div(class="extra content")
								div(class="ui labels")
									- for (j = 0; j<welfare[i].users.length; j++)

										div(class="ui image label")
											img(src="/api/users/"+welfare[i].users[j].username+"/avatar")
											= welfare[i].users[j].name
											a(href="/admin/roles/"+welfare[i].id+"/removeUser/"+welfare[i].users[j].username class="delete icon" onclick="return confirm('Are you sure you want to remove this user?');"): i(class="fitted delete icon")

							div(class="extra content")
								form(class="ui form" method="POST" action="/admin/roles/"+welfare[i].id+"/addUser")
									div(class="ui search field")
										div(class="ui action input")
											input(type="text" name="username" class="prompt" placeholder="Add a new user...")
											button(type="submit" class="ui button") Add
										div(class="results")

							a(class="ui bottom attatched edit button" href="/admin/roles/"+welfare[i].id+"/edit")
								i(class="edit icon")
								| Edit

			div(class="ui bottom attached tab segment" data-tab="reps")
				div(class="ui three stackable cards")
					- for(i=0; i<reps.length; i++)

						div(class="card")
							div(class="content")
								a(class="right floated ui red icon mini button" href="/admin/roles/"+reps[i].id+"/delete" onclick="return confirm('Are you sure you want to delete this role?');")
									i(class="remove icon")
								div(class="header")= reps[i].title

							div(class="extra content")
								div(class="ui labels")
									- for (j = 0; j<reps[i].users.length; j++)

										div(class="ui image label")
											img(src="/api/users/"+reps[i].users[j].username+"/avatar")
											= reps[i].users[j].name
											a(href="/admin/roles/"+reps[i].id+"/removeUser/"+reps[i].users[j].username class="delete icon" onclick="return confirm('Are you sure you want to remove this user?');"): i(class="fitted delete icon")

							div(class="extra content")
								form(class="ui form" method="POST" action="/admin/roles/"+reps[i].id+"/addUser")
									div(class="ui search field")
										div(class="ui action input")
											input(type="text" name="username" class="prompt" placeholder="Add a new user...")
											button(type="submit" class="ui button") Add
										div(class="results")

							a(class="ui bottom attatched edit button" href="/admin/roles/"+reps[i].id+"/edit")
								i(class="edit icon")
								| Edit

		script.
			$('.ui.search').search({
				apiSettings: {
					url: '/api/users/?q={query}'
				},
				fields: {
					results: 'users',
					title: 'username',
					description : 'name'
				}
			});

			$('.tabular.menu .item').tab();
