- var title = 'Tickets'

doctype html
html
	head
		include ./head.jade
	body
		div(class='ui container')
			include ./header.jade
			include ./menu.jade
			h2= title
			div(class="ui vertical segment")
				h3 Create a new ticket
				form(class="ui form" method="POST" action="/admin/tickets")
					div(class="field")
						label Name
						input(type="text" name="name")
					button(type="submit" class="ui submit button")
						i(class="write icon")
						| Create and edit

			div(class="ui vertical segment")
				h3 Tickets

				table(class="ui fixed table")
					thead
						tr
							th Name
							th Stock
							th Actions
					tbody
						each ticket in tickets
							tr
								td= ticket.name
								td= ticket.remaining + '/' + ticket.stock
								td
									a(class="ui edit button" href="/admin/tickets/"+ticket.id)
										i(class="edit icon")
										| Edit
									a(class="ui negative button" href="/admin/tickets/"+ticket.id+"/delete")
										i(class="remove icon")
										| Delete