- var title = 'Facilities'

doctype html
html
	head
		include ../head.pug
	body
		div(id="main-menu" data-username=(user && user.username))
		div(class='ui container')
			h2(class="ui header")= title
			div(class="ui vertical segment")
				h3(class="ui header") The Bar
				p Grey Bar is the social hub of the college, with almost all of the events put on by the JCR including it in some way. These events can range from sporting socials to bops and formals or special events such as Informal Ball and Barfest. Barfest is an all-day, themed event in Epiphany term organised by the Bar Committee and is a celebration of bar culture worldwide. We will be boasting a great selection of guest ales, ciders, wines and cocktails alongside some fantastic entertainment. Better yet, Barfest takes place on a six nations weekend which will be live in the bar on our projector. We also have BT sport and will regularly show the biggest and best live sport on offer as well as a PS4 which can be used upon request! 
				p Drinks are amongst the cheapest of all the college bars in Durham with arguably the best selection of draught lagers and ciders and regularly changing ales. We offer a range of bottled ciders, beers, wines, spirits and soft drinks and are always open for suggestions if you would like to see something new and exciting. The bar has and will continue to undergo developments and refurbishment to increase its popularity and better the college bar experience for all students.
				div(class="ui message")
					h4(class="ui header") Opening Times
					p Regular opening times are:
					ul
						li 20:00 – 23:00 Monday – Thursday
						li 20:00 – 00:00 Friday and Saturday.
					p These times may change for events and live sport so keep up to date by liking our <a href="https://www.facebook.com/GreyCollegeBar/">Facebook page</a> and by following our <a href="https://www.instagram.com/grey_college_bar/">Instagram</a>.

			div(class="ui vertical segment")
				h3 The Gym
				p Grey has two gym rooms, one dedicated to weights equipment (see below), and the other to cardio equipment. Membership of the gym can be bought on a yearly or termly basis. If you would like to enquire about gym membership, please email grey.treasurer@durham.ac.uk.

			div(class="ui vertical clearing segment")
				h3 Music Facilities
				p Grey has two music practice rooms in Fountain’s Hall for individuals or groups to use. There are also a variety of instruments in College, which any member of Grey can ask for permission to use, free of charge. These instruments are: violin, viola, acoustic guitar, bass guitar, electric guitar, a Cajun and several ukuleles as well as pianos and drum kits. 
				p The music rooms can be booked on via the <a href="/services/rooms">room booking tab</a> on the JCR website.

			div(class="ui vertical segment")
				h3(class="ui header") The Library
				p The Victor Watts Library is located in the Holgate Building on the left hand side through the entrance.
				p There are approximately 10,000 items in the lending library. We also have a growing DVD (both academic and recreational), a CD and a Fiction collection. We also have a small IT suite with a printer which can be sent documents directly from anywhere in college using the CIS print system.
				div(class="ui message")
					h4(class="ui header") Opening Times
					p The library is always open to college as a study space. The book and DVD stock can usually be accessed at the following times, when they will be manned by a student librarian: 
					ul
						li 12:30 – 13:30 and 18:15 – 19:15 every day
				h4(class="ui header") Borrowing and Returning Bookings
				p The college library system is connected to the University library system and so books can be searched for online just as you would search for books in the main library catalogue at: 
					a(href="http://library.dur.ac.uk/") http://library.dur.ac.uk/
				p Books can be taken out using your campus card by asking the student librarian on duty.
				p Books are issued on a rolling 3 week loan. We operate exactly the same loan and renewal rules as the Bill Bryson library. If a book is on loan, you can recall it, using the Bill Bryson library recall system. You will receive an automatic email when the book is ready to collect.
				p Please return books promptly as overdue books collect fines. Return books within the requested time frame if you are asked to as someone else is waiting for it.
				p Books can be returned to the College Library when it is open or via the drop box in the study area when it is closed.<b>Please do not return books to the Bill Bryson.</b>
				h4(class="ui header") Book Requests
				p Books can be requested by asking one of the student librarians. Alternatively, you can fill in the online form here: 
					a(href="https://www.dur.ac.uk/grey.college/current/books/") https://www.dur.ac.uk/grey.college/current/books/
				p Books will be purchased based on the usefulness of the book to college as a whole compared to the price. If the book is a core text for your course or on a module reading list it is high likely to be ordered however, even if it is not do still request it as it may well be ordered in for you. If you have any recommendations for the DVD, music or fiction section do send these in as well!
				h4(class="ui header") Paid Employment
				p The Library employs students to work as Library Assistants, who deal with the day to day running of the Library.
				p Requests for applications for student librarians will be sent out as and when positions become available so if you are interested in applying keep an eye on your emails!
				p No previous experience is needed as full training is given.
				p If you have any further questions or suggestions for the library, please don’t hesitate to contact the Student Services Manager at grey.services@durham.ac.uk

		include ../footer.pug
