- var title = 'Prospective Students'

doctype html
html
	head
		include ../head.jade
	body
		div(class='ui container')
			include ../header.jade
			- var current="prospective";
			include ../menu.jade
			h2(class="ui header")= title

		include ../footer.jade