- var title = 'Error'

doctype html
html
	head
		include ./head.jade
	body
		div(class='ui container')
			include ./header.jade
			include ./menu.jade
			div(class="ui vertical segment")
				h2= message
				h3= error.status
				pre #{error.stack}
		include ./footer.jade
