div(class="ui inverted vertical footer segment")
	div(class="ui container")
		div(class="ui stackable four column grid")
			div(class="column")
				img(src="http://community.dur.ac.uk/grey.jcr//lib/img/footer-coat-of-arms.png")
			div(class="column")
				div(class="ui inverted vertical secondary menu")
					div(class="ui header item") Information
			div(class="column")
				div(class="ui inverted vertical secondary menu")
					div(class="ui header item") Links
					a(class="item" href="http://www.dur.ac.uk/") Durham University
					a(class="item" href="http://www.dur.ac.uk/grey.college") Grey College
			div(class="column")
				div(class="ui inverted vertical secondary menu")
					div(class="ui header item") Contact Us
					a(class="item" href="mailto:grey.jcr@durham.ac.uk") Email
					div(class="item")
						| Grey College <br/>
						| South Road <br/>
						| Durham <br/>
						| DH1 3LG

		span!= "&copy; 2016-"+(new Date()).getFullYear()+" Grey JCR "