div(class="ui stackable grid" id="top_menu")
	div(class="ten wide column mobile only")
		div(class="ui compact two item text menu")
			if user
				div(class="ui dropdown link item")
					div(class="text") Services
					i(class="ui dropdown link icon")
					div(class="menu")
						if (user.level > 2)
							a(class="item" href="/admin") Admin
						a(class="item" href="/services/feedback")
							div(class="ui red circular label" v-show="unread_feedbacks>0" style="display:none") {{unread_feedbacks}}
							| Feedback
						a(class="item" href="/jcr/blog")
							div(class="ui red circular label" v-show="unread_blogs>0" style="display:none") {{unread_blogs}}
							| News
						a(class="item" href="/services/elections")
							div(class="ui red circular label" v-show="unvoted_elections>0" style="display:none") {{unvoted_elections}}
							| Elections
						a(class="item" href="/services/rooms") Room Booking

			if (!user)
				div(class="right aligned item")
					a(class='ui primary button' href='/login')
						i(class='sign in icon')
						| Log in
			else
				div(class='ui dropdown link item')
					img(class="ui avatar image" src="/api/users/"+user.username+"/avatar")
					div(class="text") #{user.name} (#{user.username})
					i(class="dropdown icon")
					div(class="menu")
						a(class="item" href='/services/user/'+user.username) View Profile
						a(class="item" href='/services/user/'+user.username+'/update') Update Profile
						a(class="item" href='/services/debt') My Debt
						a(class='item' href='/logout')
							i(class='sign out icon')
							| Log Out

	div(class="six wide column")
		h1(class="ui header basic segment")
			img(src="/images/coat-of-arms.png")
			div(class="content") Grey
				div(class="sub header") JCR

	div(class="ten wide right aligned column computer tablet only")
		div(class="ui vertical segment")
			div(class="ui stackable compact text menu")
				if (user)
					if (user.level > 2)
						a(class="item" href="/admin") Admin
					a(class="item" href="/services/feedback")
						div(class="ui floating red circular label" v-show="unread_feedbacks>0" style="display:none") {{unread_feedbacks}}
						| Feedback
					a(class="item" href="/jcr/blog")
						div(class="ui floating red circular label" v-show="unread_blogs>0" style="display:none") {{unread_blogs}}
						| News
					a(class="item" href="/services/elections")
						div(class="ui floating red circular label" v-show="unvoted_elections>0" style="display:none") {{unvoted_elections}}
						| Elections
					a(class="item" href="/services/rooms") Room Booking
					div(class='ui dropdown link item' )
						img(class="ui avatar image" src="/api/users/"+user.username+"/avatar")
						div(class="text") #{user.name} (#{user.username})
						i(class="dropdown icon")
						div(class="menu")
							a(class="item" href='/services/user/'+user.username) View Profile
							a(class="item" href='/services/user/'+user.username+'/update') Update Profile
							a(class="item" href='/services/debt') My Debt
							a(class='item' href='/logout')
								i(class='sign out icon')
								| Log Out

				else
					div(class="item")
						a(class='ui primary button' href='/login')
							i(class='sign in icon')
							| Log in

		div(class="ui vertical segment")
			div(class="ui secondary compact menu")
				div(class="item")
					a(class="ui icon facebook button" href="https://www.facebook.com/greycollegejcr/"): i(class="facebook icon")
				div(class="item")
					a(class="ui icon twitter button" href="https://twitter.com/greyjcr"): i(class="twitter icon")
				div(class="item")
					a(class="ui icon youtube button" href="https://www.youtube.com/channel/UCmZ_ll7dit6Ulys-ts5FjVA"): i(class="youtube icon")


script(type="text/javascript").
	var notifications = new Vue({
		el: "#top_menu",
		data: {
			unread_feedbacks: 0,
			unread_blogs: 0,
			unvoted_elections: 0
		},
		methods: {
			fetchFeedback: function() {
				$.get('/api/feedbacks', function(feedbacks) {
					if (!feedbacks) {
						this.unread_feedbacks = 0;
					} else {
						this.unread_feedbacks = feedbacks.filter(function(feedback) {
							return (!feedback.read_by_user);
						}).length;
					}
				}.bind(this), 'json');
			},
			fetchBlogs: function() {
				$.get('/api/blogs/unread', function(blogs) {
					if (!blogs) {
						this.unread_blogs = 0;
					} else {
						this.unread_blogs = blogs.length;
					}
				}.bind(this), 'json');
			},
			fetchElections: function() {
				$.get('/api/elections/2', function(elections) {
					if (!elections) {
						this.unvoted_elections = 0;
					} else {
						this.unvoted_elections = elections.filter(function(election) {
							return (!election.voted);
						}).length;
					}
				}.bind(this), 'json');
			}
		},
		created: function() {
			this.fetchElections();
			this.fetchBlogs();
			this.fetchFeedback();
		},
		mounted: function() {
			$('.ui.dropdown.link.item').dropdown({action: 'hide'});
		}
	})
