- var title = 'Home'

doctype html
html
	head
		include ./head.jade
		script(src="javascripts/vue.js")
	body
		div(class='ui container')
			include ./header.jade
			- var current = 'home';
			include ./menu.jade
			include ./promo.jade
			div(class="ui vertical segment")
				div(class="ui divided padded stackable grid")
					div(class="ten wide column")
						h2(class="ui header") Latest News
						div(class="ui divided items")
							each post in blog
								div(class="item")
									div(class="content")
										- post.timestamp = new Date(post.timestamp);
										a(class="header" href="/jcr/blog/"+post.position_slug+"/"+post.timestamp.getFullYear()+"/"+(post.timestamp.getMonth()+1)+"/"+post.slug)= post.title
										div(class="meta")
											span(class="author")
												i(class="ui user icon")
												= post.name + " ("+post.position_title+")"
											span(class="timestamp")
												i(class="ui clock icon")
												= prettydate.format(post.timestamp)
										div(class="article description")!= post.message
										div(class="extra")
											a(class="right floated" href="/jcr/blog/"+post.position_slug+"/"+post.timestamp.getFullYear()+"/"+(post.timestamp.getMonth()+1)+"/"+post.slug) Read More
						a(class="ui right floated button" href="/jcr/blog/") More News
					div(class="six wide column")
						h2(class="ui header") Upcoming Events
						div(class="ui divided link items")
							each event in events
								a(class="item" href="/events/"+event.timestamp.getFullYear()+"/"+(event.timestamp.getMonth()+1)+"/"+(event.timestamp.getDate())+"/"+event.slug)
									if (event.image)
										div(class="ui tiny image")
											img(src="/images/events/"+event.image)
									div(class="middle aligned content")
										div(class="header")= event.name
										div(class="meta")= event.timestamp.toDateString()
		include ./footer.jade

