- var title = 'Home'

doctype html
html
	head
		include ./head.jade
		script(src="javascripts/vue.js")
	body
		div(class='ui container')
			include ./header.jade
			- var current = 'home';
			include ./menu.jade
			include ./promo.jade
			div(class="ui vertical segment")
				div(class="ui divided padded stackable grid")
					div(class="ten wide column")
						h2(class="ui header") Latest News
						div(class="ui divided items")
							each blog in blogs
								div(class="item")
									div(class="content")
										a(class="header" href="/jcr/blog/"+blog.role.slug+"/"+blog.permalink)= blog.title
										div(class="meta")
											span(class="author")
												i(class="ui user icon")
												= blog.author.name + " ("+blog.role.title+")"
											span(class="timestamp")
												i(class="ui clock icon")
												= prettydate.format(blog.updated)
										div(class="article description")!= blog.message
										div(class="extra")
											a(class="right floated" href="/jcr/blog/"+blog.role.slug+"/"+blog.permalink) Read More
						a(class="ui right floated button" href="/jcr/blog/") More News
					div(class="six wide column")
						h2(class="ui header") Upcoming Events
						div(class="ui divided link items")
							each event in events
								a(class="item" href="/events/"+event.time.getFullYear()+"/"+(event.time.getMonth()+1)+"/"+(event.time.getDate())+"/"+event.slug)
									if (event.image)
										div(class="ui tiny image")
											img(src="/images/events/"+event.image)
									div(class="middle aligned content")
										div(class="header")= event.name
										div(class="meta")= event.time.toDateString()
		include ./footer.jade
