div(class="ui segment")
	div(class="ui stackable grid")
		div(class="six wide middle aligned column")
			div(class="ui header") Grey Day 2016
				div(class="sub header") A wild western day not to be missed...
			a(class="ui primary labeled icon button" href="/events/2016/6/4/grey-day")
				i(class="ticket icon")
				| Book Here
		div(class="ten wide column")
			img(class="ui fluid image" src="/images/promos/gd.jpg")