div(class="ui segment" id="chart")
	div(class="ui stackable grid")
		div(class="seven wide middle aligned column")
			div(class="ui header") College Menus Online
				div(class="sub header") Find out what's for lunch and dinner this week.
			a(class="ui primary button" href="/info/menus")
				i(class="food icon")
				| Click Here
		div(class="nine wide column")
			img(class="ui fluid image" src="/images/promos/dining-hall.jpg")
			//- div(class="ui embed" data-source="youtube" data-id="t6uuSYeKPj4")
			//- script.
			//- 	$('.ui.embed').embed();
