div(class="ui segment" style="background: url('images/promos/dhm-snow.jpg') 7% 22%; height: 20em")
	div(class="ui stackable grid")
		div(class="five wide middle aligned column")
			div(class="ui basic segment")
				div(class="ui header") Christmas Formals 2016
					div(class="sub header") Want to stitch up your friend? Want to make them kiss under the mistletoe? Click the link below to buy mistletoe kisses online!
				div(class="ui buttons")
					a(class="ui primary button" href="/events/2016/12/9/Christmas-Formal-1")
						| Friday 9th
					div(class="or")
					a(class="ui primary button" href="/events/2016/12/12/Christmas-Formal-2")
						| Monday 12th
		div(class="eight wide column")
			//- img(class="ui fluid image" src="/images/promos/masquerade-formal.jpg")
			//- div(class="ui embed" data-source="youtube" data-id="gxBuS0vwXY0")
			//- script.
			//- 	$('.ui.embed').embed();