div(class="ui segment")
	div(class="ui stackable grid")
		div(class="eight wide middle aligned column")
			div(class="ui header") Informal Ball 2016
				div(class="sub header") You must pay off your debt to book on.
			a(class="ui primary button" href="/events/2016/12/3/Informal-Ball")
				i(class="ticket icon")
				| Book Here
		div(class="eight wide column")
			//- img(class="ui fluid image" src="/images/promos/masquerade-formal.jpg")
			div(class="ui embed" data-source="youtube" data-id="gxBuS0vwXY0")
			script.
				$('.ui.embed').embed();