div(class="ui black inverted segment" style="background-color: #000 !important")
	div(class="ui stackable grid")
		div(class="seven wide middle aligned column")
			div(class="ui inverted header") Charity Masquerade Formal
				div(class="sub header") You must pay off your debt to buy a ticket.
			a(class="ui inverted button" href="/events/2016/11/16/Charities-Formal")
				i(class="ticket icon")
				| Book Here
		div(class="nine wide column")
			img(class="ui fluid image" src="/images/promos/masquerade-formal.jpg")
			//- div(class="ui embed" data-source="youtube" data-id="t6uuSYeKPj4")
			//- script.
			//- 	$('.ui.embed').embed();
