- var title = 'Error'

doctype html
html
	head
		include ./head.pug
	body
		div(id="main-menu" data-username=(user && user.username))
		div(class='ui container')
			div(class="ui vertical segment")
				h2= message
				h3= error.status
				if (user && user.level>4)
					pre #{error.stack}
		include ./footer.pug
