- var title = 'Log In'

doctype html
html
	head
		include ./head.pug
	body
		div(id="main-menu" data-username=(user && user.username))
		div(class='ui container')
			div(class="ui vertical segment")
				h2 Login
				if (query && query.unauthorised=="")
					div(class="ui error message")
						div(class="header") Unauthorised Access
						p Please log in to access this part of the website
				if (query && query.failure=="")
					div(class="ui error message")
						div(class="header") Login Error
						p Your username and password were not accepted
				form(action='/login' method='POST' class='ui form')
					div(class="field")
						label Username
						input(type='text' name='username')
					div(class="field")
						label Password
						input(type='password' name='password')
					button(type='submit' class='ui submit button') Log In
		include ./footer.pug
