if (user)
	div(class="ui segment")
		div(class="ui stackable grid")
			div(class="four wide middle aligned column")
				div(class="ui basic center aligned segment")
					div(class="ui header") Phoenix Ball 2018
						div(class="sub header") Save the Date!
					p: a(class="ui primary button" href="/events/2018/6/6/Phoenix-Ball-2018")
						| More Info
					p: a(class="ui facebook button" href="https://www.facebook.com/events/159376468107579/")
						i(class="facebook icon")
						| Click going for updates!
			div(class="twelve wide column")
				img(class="ui fluid image" src="/images/promos/phoenix18.jpg")
				//- div(class="ui embed" data-source="youtube" data-id="gxBuS0vwXY0")
				//- script.
				//- 	$('.ui.embed').embed();
else
	div(class="ui segment")
		div(class="ui stackable grid")
			div(class="five wide middle aligned column")
				div(class="ui basic segment")
					div(class="ui header") Grey College JCR
						div(class="sub header") The community of students that make up the life and soul of Grey College
			div(class="eleven wide column")
				img(class="ui fluid image" src="/images/promos/grey.png")
				//- div(class="ui embed" data-source="youtube" data-id="gxBuS0vwXY0")
				//- script.
				//- 	$('.ui.embed').embed();
