.feedback {
	white-space: pre-wrap;
}

.footer.segment {
	border-top: 5px solid #DB2828 !important;
	background-image: url("/images/footer-bg.png") !important;
	background-repeat: no-repeat !important;
	background-position: 30% 30% !important;
}

td .cell {
	min-height: 5rem !important;
}
