- var title = 'Facilities'

doctype html
html
	head
		include ../head.jade
	body
		div(class='ui container')
			include ../header.jade
			- var current="facilities";
			include ../menu.jade
			h2(class="ui header")= title
			div(class="ui vertical segment")
				h3(class="ui header") The Bar
				img(class="ui medium right floated image" src="http://testing.greyjcr.com/uploads/Bar.jpg")
				p Grey Bar is the social hub of the college, with almost all of the events put on by the JCR and it’s members including it in some way. These events can range from sporting socials to bops and formals with very special occasions such as BarFest or Informal Ball extending opening hours to as late as 2:00AM. The bar contains a projector for important sporting events which can be turned on upon request along with a dart board, a football table, a pub quiz machine, and a brand new PlayStation 4 with Fifa 14 for those who are willing to try their skill.
				p Grey Bar is run by the Bar Committee, which organizes and runs Barfest, a bar festival which is held in the Epiphany Term. This event is a celebration of bar culture worldwide and will see beers, ciders, wines and cocktails from every corner of the globe brought right to your doorstep and is coupled with live entertainment throughout the day. Barfest is one of the best events in the College Social Calendar and not to be missed! Drinks are amongst the cheapest of all the college bars in Durham, with shots for as little as £1.40 and pints as low as £1.60. We offer a range of bottled ciders, beers, spirits and soft drinks and are always open for suggestions if you would like to see something new and exciting.
			
			div(class="ui vertical segment")
				h3(class="ui header") The Library
				p The Victor Watts Library is located in the Holgate Building on the left hand side through the entrance.
				p There are approximately 10,000 items in the lending library. We also have a growing DVD (both academic and recreational), a CD and a Fiction collection. As well as a small IT suite with a printer which can be sent documents directly from anywhere in college using the CIS print system. We are primarily an undergraduate library.
				h4(class="ui header") Opening Times
				p The library is always open to college as a study space. The book and DVD stock can be accessed at the following times:
				ul
					li Weekdays: 12-3pm and 6-9pm
					li Weekends: 11am-9pm
				p Our college librarian Mrs. Holmes works Tuesdays 8am-12pm and Thursdays 8am – 4.30pm and is happy to help you with any enquires you may have. She is also contactable via email at g.m.holmes@durham.ac.uk.
				h4(class="ui header") Borrowing and Returning Bookings
				p The college library system is connected to the University library system and so books can be searched for online just as you would search for books in the main library catalogue at: http://library.dur.ac.uk/
				p Books can be taken out using your campus card by asking the student librarian on duty.
				p Books are issued on a rolling 3 week loan. We operate exactly the same loan and renewal rules as the Bill Bryson library. If a book is on loan, you can recall it, using the Bill Bryson library recall system. You will receive an automatic email when the book is ready to collect.
				p Please return books promptly as overdue books collect fines. Return books within the requested time frame if you are asked to as someone else is waiting for it.
				p Books can be returned to the College Library when it is open or via the drop box in the study area when it is closed.<b>Please do not return books to the Bill Bryson.</b>
				h4(class="ui header") Fines
				p College Library fines can be paid to Mrs. Holmes when she is on duty, or at the Bill Bryson Library. Fines can be paid online. Fines of £5 or more will freeze your library account and books cannot be issued.
				h4(class="ui header") Book Requests
				p Books can be requested by asking one of the student librarians, speaking to or emailing Mrs. Holmes directly.
				p Books will be purchased based on the usefulness of the book to college as a whole compared to the price. If the book is a core text for your course or on a module reading list it is high likely to be ordered however, even if it is not do still request it as it may well be ordered in for you. If you have any recommendations for the DVD, music or fiction section do send these in as well!
				h4(class="ui header") Paid Employment
				p The Library employs students to work as Library Assistants, who deal with the day to day running of the Library.
				p Requests for applications for student librarians will be sent out as and when positions become available so if you are interested in applying keep an eye on your emails!
				p No previous experience is needed as full training is given.
				p If you have any further questions or suggestions for the library, please don’t hesitate to contact the Student Services Manager at r.a.madden@durham.ac.uk


			div(class="ui vertical segment")
				h3 The Gym
				p Grey has two gym rooms, one dedicated to weights equipment (see below), and the other to cardio equipment. Membership of the gym can be bought on a yearly or termly basis. If you would like to enquire about gym membership, please email grey.treasurer@durham.ac.uk.
		include ../footer.jade