- var title = 'Support'
doctype html
html
	head
		include ../head.jade
	body
		div(class='ui container')
			include ../header.jade
			- var current="support";
			include ../menu.jade
			h2(class="ui header")= title
			div(class="ui vertical segment" id="college")
				h3(class="ui header") College Support
				p Second years are assigned a College Mentor. This is someone who is appointed to help with personal development.
				p The College also has a Parenting system where a fresher is paired with a student from a later year who acts as someone they can approach for help or advice about academic work, or information on what goes on in college. They are also someone you can socialise with and who can introduce you to people in other years.
				p Subject groups are an exciting new addition to college life, giving you the means to get to know others in college studying your subject, share advice between year groups, and have a point of contact who can connect you with other students. It’s an opportunity to learn from more experienced students, for older years to share interests in their subject and help guide other students.
				p Every subject has a point of contact called the Subject Leader, a motivated student passionate about their subject. They’ll be able to recommend modules, career paths, give essay advice, and pass on contacts between different students studying the same subject. You’ll meet you Subject Leaders in the first week of term (after Freshers’ Week) and get a chance to get to know older students doing your course and find out what it’s like after first year.
				p The Assistant Master (Welfare), Julie Bushby (julie.bushby@durham.ac.uk) is someone who students are able to approach for advice or help on academic or other issues.
			
			div(class="ui vertical segment" id="representatives")
				h3(class="ui header") JCR Representatives
				p Representatives Committee (Reps Comm) are elected roles in Grey that cover all people in the JCR, from minority groups, such as LGBTa and Mature students (among others) to entire year groups, such as freshers and finalists. The committee members hold events, raise awareness and provide a signposting role allowing the individuals from these groups extra support and ensuring their views are heard. Grey is committed to ensuring all members of the JCR can be involved in all parts of college, and this committee is a vital part in making sure all JCR members are welcomed and find their home in Grey.
				p If you have any queries, concerns or feedback for indvidual reps, please feel free to contact them. Any general queries please contact the Representatives Officer.				
				div(class="ui six doubling link cards")
					each position in reps
						div(class="card")
							div(class="image")
								img(src="/api/users/"+position.username+"/avatar")
							div(class="content")
								div(class="header")= position.title
								div(class="meta")=position.name
								div(class="description")=position.description

			div(class="ui vertical segment" id="university")
				h3(class="ui header") University Support
				h4(class="ui header") Students' Union Welfare
				p The Students' Union also has an Advice Centre, which can be found on the top floor of the union. The Advice Centre offers free, independent, confidential and impartial advice on all topics, and has particular expertise in finance/student funding and hardship issues, academic issues and subject queries, employment, and can be an initial point of contact for legal advice. They offer a representation service for academic hearings as well as in small claims court and benefit appeals should this be needed. They also lend out attack alarms. They are open between 10:00am and 4.00pm Mondays-Thursdays, and close early on Fridays at 3:30pm. Telephone (0191) 334 1775 (or 41775 from an internal phone) or email advice@dsu.org.uk.

				h4(class="ui header") University Counselling
				p The University Counselling Service is there to offer counselling to help students. Students are offered support in dealing with a broad range of difficulties from exam anxiety to depression. The service is located in Elvet Riverside 1 (room A70), on the top floor, in a quiet part of the building to provide a relaxed and confidential atmosphere. Appointments are from Mondays to Fridays, last about 50 minutes, and can be with a man or woman. All counsellors are experienced and professionally trained. The service can be contacted by telephoning (0191) 334 2200 (or 42200 from any internal phone), or by emailing counsel.service@durham.ac.uk.

				h4(class="ui header") Nightline
				p Nightline is a confidential, anonymous, listening service run by students for students. They will not advise you - they are simply there to listen in a totally impartial and non-judgemental way about absolutely anything. You can also drop in to the office, behind the Dun Cow pub on Old Elvet. They also provide free condoms, attack alarms and anonymous pregnancy testing, as well as being an information service on a range of topics. This operates between 9pm and 7am every night of term, and you can talk to a guy or a girl. The number is on the back of your campus card. They can also call you back on a landline in the Durham area. Have a look at the website here.
				h4(class="ui header") LGBTa
				p The LGBTa (Lesbian, Gay, Bisexual and Transgender Association) provides a meeting place and support service for any student within the University. Check out their website www.durhamlgbta.org.uk. On the welfare side, they have all sorts of resources a big collection of information leaflets on various topics. They supply condoms, lubricant and dental dams. They also offer a private drop-in service open to any student on 12-5pm Tuesday, 12-2pm Wednesday, 9am-12pm Thursday in the Blue Room on Level C (down the corridor opposite Riverside Cafe.) They are not counsellors, but between them they have a huge number of contacts, considerable experience and some specialist training. You can contact them any time by e-mail lgbta@dur.ac.uk If you send a blank email they will send you full details of social events and info about the Association. Jut put 'associationlist' in the subject bar of your email. Similarly a term card of activities can be found on their website. Phone (0191) 334 1772 (41772 from an internal phone) (the Blue Room has an answer phone).
				p The college elects an LGBT Officer who has links with The LGBTa and Pink Soc. This is a specific point of contact within college. They are somebody who can be approached in total confidence.
				h4(class="ui header") University Security
				p The University Security can be contacted in the case of an emergency on (0191) 334 1229.

		div(class="ui modal")
			div(class="header") No Position
			div(class="content")
				p No description
			div(class="actions")
				div(class="ui ok button") Done

		script.
			$(".card").click(function (e) {
				e.preventDefault();
				positionid = $(this).attr('data-position');
				$.get('/api/positions/'+positionid, function (data) {
					$('.ui.modal .header').text(data.title);
					$('.ui.modal .content').text(data.description);
					$('.ui.modal').modal('show');
				});
			});


		include ../footer.jade