#chicoContainer {
    width: 100%;
    height:100%;
    top: 0%;
    left: 0%;
    position: absolute;
    overflow: hiddent;
}


#chicoContainer > div
{
  position: absolute;
  width: 40px;
  height: 40px;
   z-index: 2000;

  animation-iteration-count: infinite, infinite;
  animation-direction: normal, normal;
  animation-timing-function: linear, ease-in;
}

#chicoContainer > div > img {
   position: absolute;
   width: 40px;
   height: 40px;

   animation-iteration-count: infinite;
   animation-direction: alternate;
   animation-timing-function: ease-in-out;
   transform-origin: 50% -100%;
}


/* Hides a leaf towards the very end of the animation */
@keyframes fade
{
  /* Show a leaf while into or below 95 percent of the animation and hide it, otherwise */
  0%   { opacity: 1; }
  95%  { opacity: 1; }
  100% { opacity: 0; }
}


/* Makes a leaf fall from -300 to 600 pixels in the y-axis */
@keyframes drop
{
  /* Move a leaf to -300 pixels in the y-axis at the start of the animation */
  0%   { transform: translate(0px, -50px); }
  /* Move a leaf to 600 pixels in the y-axis at the end of the animation */
  100% { transform: translate(0px, 850px); }
}

/* Rotates a leaf from -50 to 50 degrees in 2D space */
@keyframes clockwiseSpin
{
  /* Rotate a leaf by -50 degrees in 2D space at the start of the animation */
  0%   { transform: rotate(-50deg); }
  /*  Rotate a leaf by 50 degrees in 2D space at the end of the animation */
  100% { transform: rotate(50deg); }
}