- var title = 'Home'

doctype html
html
	head
		include ./head.pug
	body
		div(class='ui container')
			include ./header.pug
			include ./menu.pug
			h2 Events
			div(class="ui vertical segment")
				h3 Create a new event
				form(class="ui form" method="POST" action="/admin/events/new")
					div(class="field")
						label Name
						input(type="text" name="name")
					div(class="field")
						label Description
						textarea(rows="5" name="description" id="editor1")
					div(class="two fields")
						div(class="field")
							label Date
							input(type="text" name="date" placeholder="dd-mm-yyyy")
						div(class="field")
							label Time
							input(type="text" name="time" placeholder="hh:mm")
					button(type="submit" class="ui submit button")
						i(class="write icon")
						| Create
					div(class="ui error message")

			div(class="ui vertical segment")
				h3 Future Events

				table(class="ui fixed table")
					thead
						tr
							th Title
							th Time/Date
							th Actions
					tbody
						each event in future_events
							tr
								td= event.name
								td= event.time
								td
									div(class="ui buttons")
										a(class="ui button" href="/admin/events/"+event.id+"/edit")
											i(class="edit icon")
											| Edit
										a(class="ui negative button" href="/admin/events/"+event.id+"/delete" onclick="return confirm('Are you sure you want to delete this event?');") 
											i(class="remove icon")
											| Delete

			if (user.level > 4)
				div(class="ui vertical segment")
					h3 Seating Planner
					div(class="ui divided grid")

						div(class="five wide column")
							p CSV should have three columns and no headers:
							ul
								li First column says which group the user is in (e.g booked_by)
								li Second column is the users name
								li Final column is for details (e.g dietary)
							
						div(class="eleven wide column")
							form(class="ui edit form" method="POST" action="/admin/events/tableplanner" enctype="multipart/form-data")
								div(class="fields")
									div(class="eight wide field")
										label Number of Tables
										input(type="text" name="no_tables" value=17)
							
									div(class="eight wide field")
										label Seats per Table
										input(type="text" name="no_seats" value=16)

								div(class="field")
									label CSV file
									input(type="file" name="bookings")

								button(type="submit" class="ui submit button")
									i(class="upload icon")
									| Upload

			if (user.level > 4)
				div(class="ui vertical segment")
					h3 Valentines Functions
					div(class="ui three column divided grid")

						div(class="column")
							h4 Upload Pairs

							form(class="ui edit form" method="POST" action="/admin/events/valentines/pairs" enctype="multipart/form-data")
								div(class="field")
									label CSV file with one row for each pair (one person in column one and the other in column two) and no headers
									input(type="file" name="pairs")
								button(type="submit" class="ui submit button")
									i(class="upload icon")
									| Upload

						div(class="column")
							h4 Swapping
							if (valentines_swapping_open)
								p Swapping is currently open
								a(class="ui button" href="/admin/events/valentines/close") Close Swapping
							else
								p Swapping is currently closed
								a(class="ui button" href="/admin/events/valentines/open") Open Swapping

						div(class="column")
							h4 Debts
							p When swapping is finished and the seating plan is finalised use this to add debts
							a(class="ui button" href="/admin/events/valentines/debts") Add Debts

		script.
			CKEDITOR.replace( 'editor1' );
