title= 'Grey JCR - ' + title
meta(name="viewport" content="width=device-width, initial-scale=1")


link(rel='stylesheet' href='/main.css')
// TODO: Make these conditional somehow
script(crossorigin src="https://unpkg.com/react@16/umd/react.production.min.js")
script(crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js")

script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js')
script(src="/javascripts/ckeditor/ckeditor.js")

script(src="/bundle.js")
