- var title = 'Events Calendar'

doctype html
html
	head
		include ../head.pug
	body
		div(class='ui container')
			include ../header.pug
			include ../menu.pug
			h2(class="ui header")= title

			div(id="events-calendar")

		include ../footer.pug

		
		script(src="/bundle.js")
