- var title = 'Events Calendar'

doctype html
html
	head
		include ../head.pug
	body
		div(id="main-menu" data-username=(user && user.username) data-admin=(user && (user.level > 3).toString()))
		div(class='ui container')
			h2(class="ui header")= title

			div(id="events-calendar")

		include ../footer.pug
