- var title = 'Sports & Societies'
doctype html
html
	head
		include ../head.jade
	body
		div(class='ui container')
			include ../header.jade
			- var current="sportsandsocs";
			include ../menu.jade
			h2(class="ui header")= title
			div(class="ui vertical segment" id="sports")
				h3(class="ui header") Sports
				div(class="ui fluid styled accordion")
					div(class="title")
						i(class="dropdown icon")
						| Badminton Club 
					div(class="content")
						p We have 2 women’s, men’s and mixed doubles teams that any member of college can try out for. As well as weekly training sessions, there are also regular league and cup matches across the year against other colleges. The Club was awarded 'Best Sport in Grey' at the President's Guest Night 2014, due to our outstanding achievements over the past year and popular socials. They have had a lot of success lately, particularly with the men winning back to back premiership titles. 
					div(class="title")
						i(class="dropdown icon")
						| Grey College Cricket Club (GCCC) 
					div(class="content")
						p We play in a college league in the summer term and an indoor league in the second term. We also have summer net sessions and enter teams in the College Festival of Sport in 6-a-side tournament. We hope to have an inter-Grey match starting this year as well and if there is enough interest, we may be able to organise the first GCCC Tour.  
					div(class="title")
						i(class="dropdown icon")
						| Men's Football
					div(class="content")
						p The Football Club is the largest club in Grey with five teams and at least 70 members. Our size makes us one of Grey’s most sociable clubs, and with teams ranging from A-E everyone is able to play at a level which suits them, whether you’ve played at a good club level for years or enjoy a kick about.  All teams play in the college football league which has five divisions as well as the cup competitions. Matches are every Saturday or Sunday with every team having its own training session on a Wednesday afternoon. Regular socials are a huge part of the club. GCAFC also go on a five to six day tour after exams where we play two matches against local teams which is always an amazing week.
					div(class="title")
						i(class="dropdown icon")
						| Women’s Football 
					div(class="content")
						p GCWFC had the best season of their history last year, reaching the Cup Final for the very first time. We are an ever-growing club and welcome players of all abilities, whether you’ve never kicked a ball before, or you’re the next Rachel Yankey! This season we hope to do one better and win the cup. Although we take our football seriously, we also have a huge amount of fun and socials, as a team, we all become firm friends very quickly.  
					div(class="title")
						i(class="dropdown icon")
						| Netball Club  
					div(class="content")
						p Grey’s Netball Club has a mixture of both playing and social members. With five netball teams entered into the leagues and a large social presence there is something for everyone. Club training takes place twice a week with matches taking place at different times across the weekend. We also run a fitness session on Monday evenings. We are a very sociable club with regular team and whole club socials. Socials include everything from team meals, social netball tournaments, nights out and joint socials with other clubs.  Joining GCNC is a great way to meet people from all year groups, have fun and keep fit. We are always looking for more players so regardless of whether you played for your county or haven’t played since junior school please get in contact with us if you want to find out more.
					div(class="title")
						i(class="dropdown icon")
						| Mixed Lacrosse  
					div(class="content")
						p Mixed Lacrosse is a sociable, relaxed club welcome to people of all abilities - beginners are very welcome! We have practices once a week and matches most weekends.  We've got lots of exciting things coming up this term such a socials and new stash! It’s also one of the few mixed sports on offer - if you want to try a new sport Mixed Lacrosse is the perfect one to join!    
					div(class="title")
						i(class="dropdown icon")
						| Men’s hockey 
					div(class="content")
						p If you fancy some good quality hockey without uni commitments or want to just try out hockey for the first time, sign up, get in touch and get involved. We have one team, which everyone gets to play in, in the top league after being promoted last season.  
					div(class="title")
						i(class="dropdown icon")
						| Women’s Hockey 
					div(class="content")
						p Hey! Anyone is welcome to join GCHC as long as you enjoy hockey, or think you will, then we want you!  All abilities are welcome as we all work together in a close knit team which is always looking for new members to join the fun. We train once a week in the evening and on average have about one match a week. The Captains on the pitch will be making sure we have the best time possible off the pitch as well, including a potential tour this year.
					div(class="title")
						i(class="dropdown icon")
						| Men’s Rugby 
					div(class="content")
						p GCRFC is THE club to be in at Grey. 50 members strong, we field two teams every weekend against the other colleges. Everyone is welcome. We play to a decent standard and are always mid table to top of the league. If you’ve played anything from 1st XV to 4th XV at school you’ll be fine. Socials every other week, and a tour (too-er) at the end of the year are a major part of club life. Socials occur roughly every other week and are great fun but those that don’t want to take part don’t have to. Some highlights to look forward to: Old Boys Weekend, Newcastle Social, Christmas Social, Iron Man, Phoenix Academy, Meeting the Father and Joint Socials with the Netball Girls and Cheerleaders.
					div(class="title")
						i(class="dropdown icon")
						| Women’s Rugby (Graidan’s WRFC) 
					div(class="content")
						p After joining up with Aidan’s last year to become Graidan’s WRFC, women’s rugby in Grey has had an outstanding year. Showing grit and determination through all hardships, Graidan's triumphed through hangovers and front row height deficiencies to only go and WIN THE PREMIERSHIP. Win or lose, enjoying the game was the first priority although generally there were some cracking individual and team tries scored to make that a bit easier. If you have any interest in rugby, be it from watching it on TV or playing for club please come along to a session. 
					div(class="title")
						i(class="dropdown icon")
						| Basketball Club 
					div(class="content")
						p Team Flair is the Grey basketball club. We have a men’s and a women’s team, Open to anyone who wants to join no matter what standard you are. As long you turn up, try hard and are fun that is all we care about. We also have lot of socials, often in fancy dress, which are always great fun. We practice twice a week and have matches roughly every other week plus any friendly’s. 
					div(class="title")
						i(class="dropdown icon")
						| Skiing
					div(class="content")
						p Palatinalps is not to be missed. The best week you’ll have all year!! It’s a Grey college trip within a university wide event. We head out to the Alps for a truly incredible week of skiing, snowboarding, après and partying. In 2015, 1500 Durham students took over Les Arcs.
					div(class="title")
						i(class="dropdown icon")
						| Rowing (GCBC) 
					div(class="content")
						p Rowing prodigy? Experienced cox? Never stepped into a boat before? Either way GCBC is for you! Our focus is to develop and foster rowing here at Grey. So, while our crews successfully compete in regional and college competitions, we are open and welcoming to students of any skill level. Traditionally, the Club races locally. Our main focus is Durham Regatta, which is in June. In past years we have also raced in York, Stockton-on-Tees, Newcastle, Hexham, and at HoRR in London.  In addition, the social secretaries plan a full roster of smaller events throughout the year, making GCBC a thriving social hub here at Grey.  
					div(class="title")
						i(class="dropdown icon")
						| Squash
					div(class="content")
						p There are two Men's teams and one Women's team, but the training is open to anyone who wants to come along and have a play. We did very well last year, with the Men's A Team gaining promotion. The club meets twice a week at the Racecourse squash courts.
					div(class="title")
						i(class="dropdown icon")
						| Grey College Tennis Club 
					div(class="content")
						p Grey Tennis is a fantastic sports society for all abilities whether you've never picked up a racket before or if you consider yourself to be the next Roger Federer or Serena Williams! In the first two terms of the year is weekly practice, which tends to be more on the social side with fun games, rather than intensive drills and workouts. In the third and final term of the year, practice gets more match-orientated, with the club splitting into an A and B team that take part in the college tennis leagues. 
					div(class="title")
						i(class="dropdown icon")
						| Table Tennis (GCTT) 
					div(class="content")
						p GCTT was founded in 1954, five years before the college itself. Over the next few decades the club produced 12 professional players including astronaut Neil Armstrong. The club is most famous for inventing beer pong in 1962 when during a game between Geoff Hurst and Armstrong, an international exchange student, ended with a shot falling in Hurst's pint that had been placed on the table. Armstrong also became the first person to play beer pong on the moon. The club fell into disrepute and was closed down in 1993 due to many senior members celebrating a win over their rivals by burning Collingwood College's main accommodation block to the ground. The club met secretly in the years up to 2014 when it was re-founded as GCTT before going on to have a very successful first season back.
					div(class="title")
						i(class="dropdown icon")
						| Volleyball 
					div(class="content")
						p Volleyball is a relatively new sport to Grey College but it's constantly growing! Grey Volleyball is mixed meaning both guys and girls play on the team together. We take players of any level; it doesn't matter if you've played for years, never played the sport before or are anywhere in between, so absolutely everyone is free to join.
					div(class="title")
						i(class="dropdown icon")
						| Ultimate Frisbee
					div(class="content")
						p Ultimate Frisbee is a fun, sociable sport which is a cross between netball and American football, but played with a Frisbee. Grey has the largest club in Durham, with around 50 active members, and a team in all three leagues. This year, the A team won the league and cup double. Whether you want to take it more seriously, or are looking for a social sport to fill your Wednesday afternoons, you’d be more than welcome. Barely anyone plays the sport before coming to uni, so don’t be put off if you’ve never even heard of it before, let alone able to throw a Frisbee in a straight line.

			div(class="ui vertical segment" id="societies")
				h3(class="ui header") Societies
				div(class="ui fluid styled accordion")
					div(class="title")
						i(class="dropdown icon")
						| Cheerleading 
					div(class="content")
						p Grey college cheerleading is a fun and sociable team full of lovely people. It's great if you love dance or gym or want to try it for the first time. We are one of the best teams in the uni and are looking forward to another inter-collegiate competition next year. Most people are beginners but we are of a good standard. We aren't just about cheerleading and aside from training we have lots of fun socials.
					div(class="title")
						i(class="dropdown icon")
						| Disney Soc 
					div(class="content")
						p We are a brand new society in 2014 and excited to bring the Disney magic to Grey! Disney soc will meet weekly to watch a film of our choice in the JCR, films will range from Disney Animated Classics to Pixar, also Disney Adventure and Action. 
					div(class="title")
						i(class="dropdown icon")
						| Grey College Feminism Society 
					div(class="content")
						p We are a brand new society, founded May of 2014. Despite our rookie status, we already have a strong following and are looking forward to expanding over the next year. Our meetings are laid back affairs where everyone is welcome. We'll be discussing a whole range of exciting topics throughout the year. Bottom line, Grey College Fem Soc is for everyone
					div(class="title")
						i(class="dropdown icon")
						| Fountains Theatre Company 
					div(class="content")
						p We are the official theatre society of Grey College. Unlike many other Durham theatre companies, FTC makes use of its very own stage, Fountains Hall, for many of its shows. FTC performs all kinds of theatre, from classical to contemporary theatre, musicals, and more experimental pieces. It doesn’t matter what area of theatre you’re interested in, we need you to get involved. If you want to be a director, a producer, put up the lights, build the sets, write a play, make posters or act in a show; there really is something for everyone at Fountains Theatre Company.
					div(class="title")
						i(class="dropdown icon")
						| Grey College Christian Union 
					div(class="content")
						p Christian Union is a group of students who are united by a common belief in the message of Jesus Christ in the Bible. We hold weekly meetings in the college chapel, where we spend time looking at the bible together in small groups, praying, singing, and planning events. 
					div(class="title")
						i(class="dropdown icon")
						| Grey Dance Society 
					div(class="content")
						p Grey Dance society is an all-abilities-welcome group that meets every Sunday to learn and practice dance routines from a variety of dance styles. We also work on flexibility, dance technique and general fitness as part of the sessions.
					div(class="title")
						i(class="dropdown icon")
						| Grey in the Community 
					div(class="content")
						p GITC is a fantastic society to get involved within the college. It is organises community outreach projects from the college level allowing a huge amount of direct influence and involvement from students. There are currently 3 projects running:  SPORTS DAY – runs once a term for local children with special needs and disabilities. It involves committing for just one day or a few hours a term. The day involves a morning of sports at Maiden Castle followed by an afternoon of arts and student led entertainment. These days provide school groups to try sports and activities that they do not always have the opportunity to do – they thrive off the special attention and excitement; their enthusiasm is truly infectious.  HALLGARTH NURSING HOME – these visits to a local nursing home take place on a few afternoons every term. There is a very relaxed atmosphere at the home so it is very easy to pop along. The resident’s love seeing new faces and having a new companion to chat to. It is surprising how much you can have in common and you can clearly see many of their faces light up when the group arrives for a few hours. CONTACT THE ELDERLY – our branch of this national charity hosts monthly tea parties at Grey. They are a means by which to offer isolated elderly members in the local area an opportunity to meet new people and  be able to recall memories and tell their funny stories.   
					div(class="title")
						i(class="dropdown icon")
						| Grey College Choir 
					div(class="content")
						p Grey College Choir is the main college choir, now in its third year. The choir does not require any audition and we encourage anyone who enjoys singing to come along! We rehearse once a week with concerts or services one or two times a term. 
					div(class="title")
						i(class="dropdown icon")
						| Darts
					div(class="content")
						p Grey College Darts Club are the reigning Durham University College Darts Cup champions, having won the trophy in remarkable circumstances back in June 2014. Although three of the club’s stalwart veterans have graduated this year, the future looks bright after a crop of talented recruits joined the team last season. This year, GCDC hope to build on last season’s success by hitting the ground running and not only defending their cup victory, but also mounting a serious challenge for the league title and, most importantly, crowning themselves as the maiden winners of the newly introduced Beer Leg League. Despite being competitive, college darts is an incredibly inclusive and laid-back sport that anyone can take part in. The socials are said to be up there with the best you’ll go on throughout your time at Grey. This year the team are planning on going on a social to watch a PDC Premier League of Darts night: an event not to be missed. You’ll find us in Grey Bar, where we spend many evenings drinking moderately, throwing heavily and generally having a laugh; especially on match nights every Monday. Grey College Darts Club is the best way to take up a new sport, meet great people, visit those obscure college bars on the Bailey, all whilst having a drink, throwing some darts and soaking up the inter-college rivalry unique to Monday Night Darts.  
					div(class="title")
						i(class="dropdown icon")
						| Languages Society
					div(class="content")
						p Grey College Languages Society is a brand new society that provides a time and place for all Grey College students to meet and practise their foreign language skills. The society is open to everyone with an interest in foreign languages and cultures so if you are studying languages as part of your degree, you're an Erasmus student or you studied a language at A-Level then come along to our meetings to improve your speaking skills. 
					div(class="title")
						i(class="dropdown icon")
						| Harry Potter Society 
					div(class="content")
						p Have you ever wondered what house you would be sorted into? Have you ever waited longingly for a Hogwarts letter that just never came? Was one of your reasons for choosing Grey- the ‘capes’ and yes they do look a bit like Hogwarts robes… The Harry Potter Society allows all your dreams to become reality. 
					div(class="title")
						i(class="dropdown icon")
						| Music Soc 
					div(class="content")
						p Music Society is an umbrella society which covers all the music groups at Grey. We have our own choir which offers choral scholarships, as well our own ukulele society: UkuGREYle. We also have a joint Big Band with Collingwood, called Grollingwood, a ceilidh band, flute ensemble, string quartets, random quintets and so much more. Whatever instrument you play we’ll find a group for you.
					div(class="title")
						i(class="dropdown icon")
						| Photography Society 
					div(class="content")
						p Run mainly by the Dark Lord, photography society makes use of Grey’s own Dark Room (housed in Hollingside) and also runs digital photography classes alongside Arts committee. We also go on photography walks and offer people the chance to use the JCR DSLR.  
					div(class="title")
						i(class="dropdown icon")
						| Pool Club 
					div(class="content")
						p Grey pool club is a very relaxed club made of three six-a-side teams competing in 3 different inter-college leagues. The leagues are of varying standards, from the Premiership with its numerous semi-professional, hard-core cue sport fanatics, to Division 2 for the casual pub player.  The club is known for providing the JCR with many a magical night of intense action. Pool is a very sociable sport and a great way to make friends in college, as well as the chance to get to know all the other college bars for away matches! There are number of socials throughout the year, waistcoats and bow ties being the usual attire.

			script.
				$('.ui.accordion').accordion();

		include ../footer.jade