- var title = 'News'

doctype html
html
	head
		include ../head.pug
		script(src="/javascripts/vue.js")
	body
		div(class='ui container')
			include ../header.pug
			include ../menu.pug
			div(class="ui vertical segment")
				div(id="news-routes")

		include ../footer.pug
