- var title = 'News'

doctype html
html
	head
		include ../head.pug
		script(src="/javascripts/vue.js")
	body
		div(id="main-menu" data-username=(user && user.username) data-admin=(user && (user.level > 3).toString()))
		div(class='ui container')
			div(class="ui vertical segment")
				div(id="news-routes")

		include ../footer.pug
