- var title = 'Profile'

doctype html
html
	head
		include ../head.pug
		script(src="/javascripts/vue.js")
	body
		div(id="main-menu" data-username=(user && user.username))
		div(class='ui container')
			div(class="ui divided stackable vertically padded grid")
				div(class="five wide column")
					h3(class="ui dividing header")
						img(src="/api/users/"+role.users[0].username+"/avatar" class="ui circular image")
						div(class="content")
							= role.title
							div(class="sub header")= role.users[0].name
					p= role.description
					h3(class="ui dividing header") Files
					div(class="ui directory list")

					script.
						var current = !{folder.id};
						function getFiles(dirId) {
							$('.directory.list').parent().addClass("loading");
							$('.directory.list').html("");
							$.get('/api/files/folders/'+dirId, function (folder) {
								$('.directory.list').parent().removeClass("loading");
								current = folder.id;
								if (folder.parentId) {
									$('.directory.list').append(
										"<a class='directory item' data-id="+folder.parentId+"><i class='level up icon'></i><div class='content'><div class='header'>Up a level</div></div>"
									);
								}
								for (i=0; i<folder.subfolders.length; i++) {
									$('.directory.list').append(
										"<a class='directory item' data-id="+folder.subfolders[i].id+"><i class='folder icon'></i><div class='content'><div class='header'>"+folder.subfolders[i].name+"</div></div>"
									);
								}
								for (i=0; i<folder.files.length; i++) {
									$('.directory.list').append(
										"<a href='/api/files/"+folder.files[i].id+"/download/"+folder.files[i].path+"' class='item'><i class='file icon'></i><div class='content'><div class='header'>"+folder.files[i].name+"</div>"+((folder.files[i].description)?"<div class='description'>"+folder.files[i].description+"</div>":"")+"</div>"
									);
								}
							});
						}
						$(document).on("click",".directory.item" ,function (e){
							e.preventDefault();
							getFiles($(this).attr("data-id"));
						})
						getFiles(current);

				div(class="eleven wide column" id="blog")
					h3(class="ui header") Recent Posts
					div(id="news-feed-role" data-role=role.id)

		include ../footer.pug
