- var title = 'Edit Profile'

doctype html
html
	head
		include ../head.jade
	body
		div(class='ui container')
			include ../header.jade
			include ../menu.jade
			h2 Update your profile
			form(class="ui form" action="" method="POST" enctype="multipart/form-data")
				div(class="field")
					label Profile Picture
					input(type="file" name="avatar")
				button(type="submit" class="ui red submit button")
					i(class="save icon")
					| Save