- var title = 'Payment Cancelled'

doctype html
html
	head
		include ../head.pug
	body
		div(id="main-menu" data-username=(user && user.username) data-admin=(user && (user.level > 3).toString()))
		div(class='ui container')
			h2(class="ui header")= title
			div(class="ui vertical segment")
				p The Payment was cancelled.
				p
					a(href="/services/debt/" class="ui basic button") Back

		include ../footer.pug
