- var title = 'Profile'

doctype html
html
	head
		include ../head.pug
	body
		div(id="main-menu" data-username=(user && user.username) data-admin=(user && (user.level > 3).toString()))
		div(class='ui container')
			h2= title
			div(class="ui vertical segment")
				div(class="ui card")
					div(class="image")
						img(src="/api/users/"+currUser.username+"/avatar")
					div(class="content")
						div(class="header")= currUser.name
						div(class="meta")=currUser.username
					div(class="extra content")
						a(href="mailto:"+currUser.email)
							i(class="mail icon")
							= currUser.email

		include ../footer.pug
