- var title = 'Edit Profile'

doctype html
html
	head
		include ../head.pug
	body
		div(id="main-menu" data-username=(user && user.username) data-admin=(user && (user.level > 3).toString()))
		div(class='ui container')
			h2 Update your profile
			div(class="ui vertical segment")
				form(class="ui form" action="" method="POST" enctype="multipart/form-data")
					div(class="field")
						label Profile Picture
						input(type="file" name="avatar")
					button(type="submit" class="ui red submit button")
						i(class="save icon")
						| Save

		include ../footer.pug
