- var title = 'Menus'

doctype html
html
	head
		include ../head.pug
	body
		div(id="main-menu" data-username=(user && user.username))
		div(class='ui container')
			- var currWeek = ((week-1)%3)+1
			h2 Week #{week} #{title}
			p Here you can find this week's menu.

			div(class="ui vertical clearing segment")
				h3 Lunch
				img(class="ui fluid image" src="/images/menus/w"+currWeek+"l.jpg")
				h3 Dinner
				img(class="ui fluid image" src="/images/menus/w"+currWeek+"d.jpg")

			div(class="ui two column padded grid")
				div(Class="column")
					h3 Sandwiches
					img(class="ui large image" src="/images/menus/sandwich.jpg")
				div(Class="column")
					h3 Salad
					img(class="ui large image" src="/images/menus/salad.jpg")

			div(class="ui vertical clearing segment")
				if (week > 1)
					a(class="ui left floated button" href="/info/menus?week="+(week-1))
						i(class="left arrow icon")
						| Last Week
				if (week < 10)
					a(class="ui right floated button" href="/info/menus?week="+(week+1))
						| Next Week
						i(class="right arrow icon")

		include ../footer.pug
