- var title = 'The JCR Trust'

doctype html
html
	head
		include ../head.pug
	body
		div(id="main-menu" data-username=(user && user.username))
		div(class='ui container')
			h2(class="ui header") #{title}
			div(Class="ui vertical segment")
				p Grey JCR is different to many of Durham’s other college JCRs because we are an Independent Charity, governed by our own Trustee board of four student trustees and four external trustees. This board oversee the JCR’s legal and financial operation and it’s long-term aims, enabling us to have full control over what direction we take as a Common Room. Our four student trustees are elected positions within the JCR, being the JCR President, JCR FACSO (Finance and Commercial Services Officer), Vice-President and elected Student trustee. For more information, get in contact with the JCR President at grey.president@durham.ac.uk.
			div(class="ui vertical clearing segment")
				h3(class="ui header") External Trustees
				div(class="ui items")
					div(class="item")
						//- div(class="image"): img(src="/api/users/anon/avatar")
						div(class="content")
							span(class="header") Edward Brunner
							div(class="description")
								p I started at Grey in 2001, studying engineering. My four years in Durham were great and I took an active role in the JCR being part of the social and ball committees, playing a bit of rugby and badminton and doing a bit of rowing. I got quite hands on with installing new AV systems in the bar and JCR one summer (although these have since been upgraded!) and was Vice President from 2003 - 2004. I was also fortunate enough to meet my wife at Grey!
								p In 2005 I graduated and, unusually for an engineering graduate, I went into engineering. I joined Cambridge Consultants, a technology and product development company, as a mechanical design engineer. The company works with big blue chip product companies in medical industrial and consumer sectors to create new products and technologies that their own R&D teams aren't able to develop on their own. I've had various roles on industrial and consumer projects, including engineering design, managing manufacturer search and selection, new product introduction, project management. I now have a commercial role, responsible for the work we do in the food an beverage sector and our wider consumer business in Asia.
								p I became a JCR trustee in August 2014 and enjoy supporting the the JCR to remain the fun, caring  and supportive place I remember whilst evolving with the ever changing needs of a modern university and it's students.
					div(class="item")
						//- div(class="image"): img(src="/api/users/anon/avatar")
						div(class="content")
							span(class="header") Parik Chandra
							div(class="description")
								p Parik joined the JCR Trust in 2015 and attended Grey College from 1997 to 2000, graduating with an honours degree in Economics. While at Grey, he was JCR Treasurer and involved in numerous committees. Following graduation he has remained an active member of the alumni association, including a stint as Treasurer of the Grey Association. Over the last 15 years he has held various corporate and investment banking positions, working for financial companies ranging from large multinational banks to boutique, start-up advisory businesses. Parik is currently a Director on the Real Estate Finance Team at Funding Circle, the leading marketplace lender for small businesses.
					div(class="item")
						//- div(class="image"): img(src="/api/users/anon/avatar")
						div(class="content")
							span(class="header") Alex Rae
							div(class="description")
								p Alex Rae is a founding trustee of the Grey JCR Trust. Alex is from Nottingham and attended Grey College from 1974 until 1977, obtaining an honours degree in law. While at Grey, Alex was a member of the JCR executive and played cricket for the college as well as being an active member of the dramatic society. Alex was called to the Bar in 1978 and after a brief period in practice in Newcastle upon Tyne joined the Government Legal Service. Over a 30-year career, Alex served in the Health and Safety Exective, the Ministry of Agriculture, Fisheries and Food and the Food Standards Agency. In the mid-1980s, Alex was seconded to the Legal Service of the European Commission in Brussels. As well as his work with the Grey JCR Trust, Alex is also a trustee of a homeless charity in Nottingham.  
					div(class="item")
						//- div(class="image"): img(src="/api/users/anon/avatar")
						div(class="content")
							span(class="header") Geoffrey Simpson
							div(class="description")
								p Geoff became a trustee of the Grey JCR Trust in July 2016.
								p Very much a Leicestershire lad he was educated at Hinckley Grammar School, followed by Grey College from 1969 graduating in 1972 with a BA Honours degree in Geography and adding an MBA degree from Loughborough University in 1989.
								p Whilst at Grey Geoff was a member of the 70/71 University RFC 2nd XV UAU winning side and the College XV in 69/70 and 71/72 seasons. He captained the Grey RFC  in his final year and was awarded “college colours”. A half palatinate was awarded the previous year.
								p Following graduation Geoff joined Coopers & Lybrand (now PWC) qualifying as a Chartered Accountant in 1976. Leaving Coopers in 1978 Geoff eventually spent 28 years with Chubb Security before retiring in 2013. His responsibilities included financial reporting, budgeting, internal controls and all other accounting and reporting requirements involved in being part of the US conglomerate, United Technologies Corporation.
								p Since 1978 Geoff and his family have lived in Nottingham but he remains a firm supporter of Leicester Tigers.
								p Outside of work Geoff has served as the Treasurer of both a Scout Group and later his Parochial Church Council.
								p As well as his involvement with the Grey JCR Trust Geoff is a part time volunteer at a local Oxfam shop, a member of his local Singing for Fun choir and is an active member of an informal lunch group of Grey and Hatfield contemporaries.

		include ../footer.pug
