- var title = 'The JCR Trust'

doctype html
html
	head
		include ../head.pug
	body
		div(id="main-menu" data-username=(user && user.username) data-admin=(user && (user.level > 3).toString()))
		div(class='ui container')
			h2(class="ui header") #{title}
			div(Class="ui vertical segment")
				p Every common room in Durham (JCR/MCR) has two options of how to run themselves, as: a Durham Student Organisation or an Independent Charity. Durham Student Organisations (DSO) are direct subsidiaries of the University, with the University in control and responsible for the finances and policies of the JCR. Independent charities have the freedom and full control over what direction the common room takes for its legal and financial operations.
				p Grey College JCR is an independent charity trust governed by our own board of trustees. The trustees are similar to a board of governors at a school or the directors of a company. Each trustee takes the on the legal responsibility for the operations of the JCR. The trustee board acts in the best interests for the JCR, following its charitable aims & facilitating the members of the JCR.

				div(class="ui vertical clearing segment")
				h3(class="ui header") External Trustees
				div(class="ui items")

					div(class="item")
						//- div(class="image"): img(src="/api/users/anon/avatar")
						div(class="content")
							span(class="header") Leanne Barrass
							div(class="description")
								p Leanne joined the JCR Trust in May 2017.  She graduated in 2005 from Teesside University with a BA Honours degree in Business Management and qualified as a Chartered Management Account (CIMA) in 2010.
								p Leanne is currently the Financial Controller at Cepac Ltd (an independent packaging company based in Darlington, Co. Durham).
								p Prior to her current role in Cepac, Leanne was Site Accountant at KP Snacks Ltd 2007-2016, and prior to that she was Utilities Business Accountant at Sembcorp Ltd, who generate energy at the Wilton International Site on Teesside, which is one of the largest chemical manufacturing sites in the world.  Her accountancy career began in 1998 at Savers Health & Beauty, where she undertook a range of roles from stock accountancy to management of the internal audit team, until her final role in the business as Finance Manager.
								p Along with her husband and two small children, Leanne lives on a small holding in a rural village on the outskirts of Consett, approximately 25 minutes from Durham city.

				div(class="ui vertical clearing segment")
				h3(class="ui header") Alumni Trustees
				div(class="ui items")

					div(class="item")
						//- div(class="image"): img(src="/api/users/anon/avatar")
						div(class="content")
							span(class="header") Kimmie Fearnside
							div(class="description")
								p Kimmie joined the JCR Trust as an alumni trustee in November 2018. She attended Grey College from 2008-2011, graduating with an honours degree in Law. While at Grey, Kimmie played for the Hockey Club, and within the University held the role as President of the English Law Students Association in her final year, and was otherwise actively involved with various pro bono legal networks.
								p Following graduation, Kimmie pursued post-graduate studies in Law at Cambridge University, and is now a practicing as a dual qualified English/New York lawyer in London specialising in high value commercial litigation and international arbitration disputes. She started her career at international magic circle law firm Linklaters LLP, where she trained and practiced for five years before moving to a boutique litigation firm, Boies Schiller Flexner (UK) LLP, in their London office. Kimmie grew up in Hong Kong and visits regularly, and calls both Hong Kong and London her home.

					div(class="item")
						//- div(class="image"): img(src="/api/users/anon/avatar")
						div(class="content")
							span(class="header") Geoffrey Simpson
							div(class="description")
								p Geoff has been a trustee of the Grey JCR Trust since July 2016.
								p He was educated at Hinckley Grammar School, followed by Grey College from 1969 graduating in 1972 with a BA Honours degree in Geography and adding an MBA degree from Loughborough University in 1989.
								p Whilst at Grey Geoff was a member of the 70/71 University RFC 2nd XV UAU winning side and the College XV in 69/70 and 71/72 seasons. He captained the Grey RFC in his final year and was awarded “college colours”. A half palatinate was awarded the previous year.
								p Following graduation, Geoff joined Coopers & Lybrand (now PWC) qualifying as a Chartered Accountant in 1976. Leaving Coopers in 1978 Geoff eventually spent 28 years with “Chubb Security” before retiring in 2013. His responsibilities included financial reporting, budgeting, internal controls and all other accounting and reporting requirements involved in being part of the US conglomerate, United Technologies Corporation.
								p Since 1978 Geoff and his family have lived in Nottingham but he remains a firm supporter of Leicester Tigers.
								p Outside of work Geoff has served as the Treasurer of both a Scout Group and later his Parochial Church Council.
								p As well as his involvement with the Grey JCR Trust Geoff is a part time volunteer at a local Oxfam shop, a member of his local Singing for Fun choir and is an active member of an informal lunch group of Grey and Hatfield contemporaries.

					div(class="item")
						//- div(class="image"): img(src="/api/users/anon/avatar")
						div(class="content")
							span(class="header") David Williams (Chair)
							div(class="description")
								p David joined the JCR trust in November 2018

					div(class="item")
						//- div(class="image"): img(src="/api/users/anon/avatar")
						div(class="content")
							span(class="header") Dr Helen Williams
							div(class="description")
								p Helen Williams (née McPhee) was a student at Grey College between 2001 and 2009, studying for an M.Chem, and then a Ph.D in biological chemistry.  She was an enthusiastic attendee at JCR bops and balls, and a keen but rather unskilled member of the college women’s rugby team.  She also played the flute (again with more enjoyment than facility!) in the Hill Orchestra, and was somewhat more successful as a soprano in the university Choral Society.
								p Following the completion of her Ph.D Helen trained as a Chartered Public Finance Accountant with the Audit Commission, auditing local government and NHS organisations.  She currently works as an audit manager at Deloitte and lives in Newcastle with her husband, young daughter, and two cats.


				div(class="ui vertical clearing segment")
				h3(class="ui header") Internal Trustees
				h3(class="ui header") Sabbatical Officers:
				div(class="ui items")

					div(class="item")
						//- div(class="image"): img(src="/api/users/anon/avatar")
						div(class="content")
							span(class="header") Leo Harris – JCR President
							div(class="description")
								p The JCR President acts as the chief executive officer (CEO) of the JCR overseeing its day-to-day operations. The President also:
								p -	Act as a point of contact on all matters affecting the interests of the JCR
								p -	Liaise between the JCR, MCR and SCR
								p -	Represent the JCR to the College Officers
								p -	Undertake duties that do not fall within the remit of any member of the Executive Committee
								p -	+ More!
								p Leo previously studied combined honours in social sciences (history, politics & IR), before taking up the role of President. He was the joint 2019 Grey Day supremo as well as a member of the Boat Club and previous head of the Grey College debating society.

					div(class="item")
						//- div(class="image"): img(src="/api/users/anon/avatar")
						div(class="content")
							span(class="header") Aminah Sair – FACSO
							div(class="description")
								p The Finance & Commercial Services Officer (FACSO) acts as the chief financial officer (CFO) of the JCR. The FACSO also:
								p -	Runs the day-to-day finances of the JCR
								p -	Oversee the services which the JCR provides
								p -	Internally audit’s the JCR accounts
								p -	Write and approve budgets for all JCR events of income
								p -	Write/Oversee JCR Annual Budget
								p -	+ More!
								p Aminah previously studied Physics & Chemistry (Natural Sciences) before taking the role of FACSO. She was the joint 2019 Grey Day supremo as well as previously being on the Welfare, Tech & Mixed Lacrosse teams.

				h3(class="ui header") Student Trustees:
				div(class="ui items")

					div(class="item")
						//- div(class="image"): img(src="/api/users/anon/avatar")
						div(class="content")
							span(class="header") Karan Patel – Vice President
							div(class="description")
								p The Vice President is the most senior student in the JCR, and their main role is to deputise the president. As well as sitting on the trustee board, the vice president also has joint responsibility for organising freshers’ week with the senior frep. The Vice President also has responsibility of organising the college formals which JCR members attend.
								p Karan is a 3rd year studying Engineering. As well as the role of Vice President, Karan is the Manager of the Toastie Bar, the Careers and Alumni Relations Officer and the Club Captain of Mixed Lacrosse. Karan has also previously been the Vice manager of the Toastie Bar and a member of the Finance Committee for the JCR.

					div(class="item")
						//- div(class="image"): img(src="/api/users/anon/avatar")
						div(class="content")
							span(class="header") Will Morrice – Student Trustee
							div(class="description")
								p The student trustee is elected at the first meeting of the Michaelmas term in October. The main role of the student trustee is to provide student representation to the trustee board on the current issues facing the JCR. Other responsibilities the student trustee has are:
								p -	Managing the JCR risk register
								p -	Assist with common room framework referenda
								p Will is a 3rd year studying Physics & Chemistry (Natural Sciences). He also is currently the JCR technical manager on the exec executive committee, as well as member of the boat club & pool club. Will is also the FACSO-elect for 2020-21.

					div(class="ui vertical clearing segment")
									div(Class="ui vertical segment")
									h3(class="ui header") The JCR’s charitable aims:
									p The advancement of education of students at Grey College for the public benefit by:
									p 1.	 Promoting the interests and welfare of students at Grey College during their course of study and representing, supporting and advising students
									p 2.	Being the recognised representative channel between students and Grey College and any other external bodies
									p 3.	Providing social, cultural, sporting and recreational activities and forums for discussions and debate for the personal development of its students



		include ../footer.pug
