- var title = 'Blog - ' + post.title

doctype html
html
	head
		include ../head.jade
	body
		div(class='ui container')
			include ../header.jade
			include ../menu.jade
			div(class="ui vertical segment items")
				div(class="item")
					div(class="content")
						- post.timestamp = new Date(post.timestamp);
						div(class="header")= post.title
						div(class="meta")
							span(class="author")
								i(class="ui user icon")
								= post.name + " ("+post.position_title+")"
							span(class="timestamp")
								i(class="ui clock icon")
								= prettydate.format(post.timestamp)
						div(class="article description")!= post.message
		include ../footer.jade