- var title = 'Blog - ' + blog.title

doctype html
html
	head
		include ../head.jade
	body
		div(class='ui container')
			include ../header.jade
			include ../menu.jade
			div(class="ui vertical segment items")
				div(class="item")
					div(class="content")
						div(class="header")= blog.title
						div(class="meta")
							span(class="author")
								i(class="ui user icon")
								= blog.author.name + " ("+blog.role.title+")"
							span(class="timestamp")
								i(class="ui clock icon")
								= prettydate.format(blog.updated)
						div(class="article description")!= blog.message
		include ../footer.jade
