- var title = 'News'

doctype html
html
	head
		include ../head.jade
	body
		div(class='ui container')
			include ../header.jade
			include ../menu.jade
			div(class="ui vertical segment")
				h2= title
				div(class="ui divided items")
					each post in posts
						div(class="item")
							div(class="content")
								- post.timestamp = new Date(post.timestamp);
								a(class="header" href="/jcr/blog/"+post.position_slug+"/"+post.timestamp.getFullYear()+"/"+(post.timestamp.getMonth()+1)+"/"+post.slug)= post.title
								div(class="meta")
									span(class="author")
										i(class="ui user icon")
										= post.name + " ("+post.position_title+")"
									span(class="timestamp")
										i(class="ui clock icon")
										= prettydate.format(post.timestamp)
								div(class="article description")!= post.message
		include ../footer.jade